


.circleBIG {
	width: 670px;
	height: 670px;
	position: absolute;
	background: #dcaccd;
	border-radius: 50%;
}

.circleSM {
	width: 90px;
	height: 90px;
	position: absolute;
	background: #dcaccd;
	border-radius: 50%;
}