* {
	box-sizing: border-box;
}

body {
	font-family: 'ubunturegular', Arial , sans-serif;
	font-size: 14px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}


.container {
	width: 1170px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}